@use '../utils/colors' as *;
@use 'sass:color';

nav {
	display: flex;
	flex-direction: column;
	background: rgba($bg-alt, 0.1);
	box-shadow: 0 6px 16px rgba(color.adjust($bg-alt, $lightness: 45%), 0.15);

	ul {
		display: flex;
		align-items: center;
		max-height: 0;
		pointer-events: none;
		transition:
			opacity 0.3s ease,
			max-height 0.3s ease;
		will-change: opacity, max-height;
		margin: 0;
		padding: 0;
		overflow: hidden;
		gap: 1rem;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		li {
			margin-bottom: 0.5rem;
			list-style: none;
			a {
			  color: $text-main;
			}
		}

		&.show {
			opacity: 1;
			max-height: 300px;
			pointer-events: auto;
		}
	}

	div {
		display: flex;
		justify-content: space-between;
		text-align: center;
		padding: 0.7rem 1rem;

		button {
			background: transparent;
			border: none;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $text-main;
			font-size: 2rem;
		}
	}
}

@media (min-width: 768px) {
	nav {
		justify-content: space-between;
		text-align: center;
		flex-direction: row;
		position: unset;

		ul {
			flex-direction: row;
			opacity: 1;
			max-height: none;
			pointer-events: auto;
			overflow: visible;
			transition: none;
			margin: 1rem;
		}

		div button {
			display: none;
		}
	}
}
