# What I am currently doing

<details>
<summary>What is this page about?</summary>
This page is where I post any update about my current status and projects. Inspired by <a href="nownownow.com" target="_" style="color: #f2f2f2">nownownow.com</a>
</details>

# Will update soon!